* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.top-nav {
  display: flex;
  height: 151px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #35495e;
}

.phone-number {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}
.phone-number img {
  height: 62.89px;
  width: 120px;
  padding: 10px;
}
.phone-number p {
  padding: 10px;
}
.phone-number button {
  border-radius: 0px;
  height: 50px;
  font-weight: bold;
}

.search-bar {
  margin-right: 40px;
}
.search-bar input {
  border-radius: 0;
  width: 321px;
  height: 43px;
  background-color: #35495e;
  border: none;
  text-align: center;
  color: white;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
}

.search-bar ::placeholder {
  color: white;
  font-size: 150%;
}

.sub-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 100%;
  background-color: #e1e4e7;
  border-bottom: 4px solid red;
  justify-content: space-around;
}
.sub-nav-content a {
  text-decoration: none;
  color: #35495e;
}

.hero {
  position: relative;
}
.hero img {
  max-width: 100%;
}

.hero-banner {
  position: absolute;
  color: white;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  font-size: 2vw;
  padding: 1vw;
  bottom: 15%;
  left: 10%;
  right: 50%;
  text-align: left;
}
.hero-banner button {
  border-radius: 0px;
  padding: 10px;
  font-weight: bold;
}

.colour-divider {
  display: flex;
  height: 18px;
}
.colour-divider span {
  width: 100%;
}

.area1 {
  background-color: red;
}

.area2 {
  background-color: #f90;
}

.area3 {
  background-color: #ffde56;
}

.area4 {
  background-color: #52b36d;
}

.area5 {
  background-color: #3996d3;
}

.area6 {
  background-color: #905ba1;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.main-frame {
  width: 1300px;
}

.banner-content {
  display: flex;
  height: 70px;
  text-align: center;
}

.middle-content {
  display: flex;
  height: 386px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.middle-content h3, .middle-content p {
  color: white;
}

.sugar-spice {
  width: 645px;
  margin-right: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}
.sugar-spice img {
  width: 100%;
}

.get-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
  background-color: #f90;
}
.get-support img {
  width: 100%;
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #905ba1;
  width: 320px;
  margin-left: 5px;
  padding: 15px;
}
.visit img {
  width: 100%;
}

.small-card {
  display: flex;
  margin-bottom: 10px;
  height: 298px;
}
.small-card h3, .small-card p {
  color: white;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card1 {
  background-color: #35495e;
  width: 320px;
  margin-right: 5px;
}

.card2 {
  background-color: #d9579b;
  margin-right: 5px;
  margin-left: 5px;
  width: 315px;
}

.card3 {
  background-color: #52b36d;
  margin-right: 5px;
  margin-left: 5px;
  width: 315px;
}

.card4 {
  background-color: #ffde56;
  margin-left: 5px;
  width: 320px;
}

.overview-posts {
  display: flex;
  flex-direction: row;
  width: 1300px;
  height: 334px;
}

.post {
  height: 334px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.post a {
  text-decoration: none;
  color: #35495e;
}

.bottom-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 175px;
  background-color: #35495e;
  color: white;
}
.bottom-banner button {
  width: 50px;
}

@media screen and (max-width: 1300px) {
  .middle-content {
    width: 100vw;
  }

  .small-card {
    width: 100vw;
  }

  .overview-posts {
    width: 100vw;
  }

  .small-card {
    flex-direction: row;
  }
}
@media screen and (max-width: 1079px) {
  .sub-nav-content {
    height: 92px;
  }
}
@media screen and (max-width: 800px) {
  .sub-nav-content a {
    display: none;
  }

  .search-bar {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
