@import "reset";
@import "variables";
@import "mixins";


.top-nav {
  display: flex;
  height: 151px;
  width: 100%;
  background-color:gray;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  display: flex;
  height: 66px;
  margin-left: 20px;
  justify-content: space-between;
  img  {
    height: 62.89px;
    width: 120px;
    padding: 10px;

  }
  p {
    padding: 10px;
  }
}

.search-bar {
margin-right: 20px;
input {
  border-radius: 0;
  width: 321px;
  height: 43px;
  background-color: #35495e;
  border: none;
  text-align: center;
  color: white;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
 }
}

::placeholder {
  color: white;
  font-size: 150%;
}


.sub-nav {
  display: flex;
  align-items: center;
  height: 46px;
  width: 100%;
  background-color: lightgray;
  justify-content: space-around;
}
