@import "reset";
@import "variables";
@import "mixins";


.top-nav {
  display: flex;
  height: 151px;
  width: 100%;
  background-color:gray;
  align-items: center;
  justify-content: space-between;



}

.phone-number {
  display: flex;
  height: 66px;

  img  {
    height: 62.89px;
    width: 120px;
    margin-right: 10px;
  }
  p {
    margin-right: 10px;
  }

}
.sub-nav {
  display: flex;
  align-items: center;
  height: 46px;
  width: 100%;
  background-color: lightgray;
  justify-content: space-around;
}
