@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: 'Open Sans',sans-serif;
  background-color: #fff;

}
.top-nav {
  display: flex;
  height: 151px;
  width: 100%;
  // background-color:gray;
  align-items: center;
  justify-content: space-between;
  color: #35495e;

}

.phone-number {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  img  {
    height: 62.89px;
    width: 120px;
    padding: 10px;
  }
  p {
    padding: 10px;
  }
  button {
    border-radius: 0px;
    height: 50px;
    font-weight: bold;
  }
}

.search-bar {
    margin-right: 40px;
    input {
    border-radius: 0;
    width: 321px;
    height: 43px;
    background-color: #35495e;
    border: none;
    text-align: center;
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
  }
}

.search-bar {
  ::placeholder {
    color: white;
    font-size: 150%;
  }
}

.sub-nav-content{
  @include center-content;
  height: 46px;
  width: 100%;
  background-color: #e1e4e7;
  border-bottom: 5px solid red;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: #35495e;
  }
}
.hero {
  position: relative;
  img{
    max-width:100%;
  }
}

.hero-banner {
  @include banner-style;
  bottom:15%;
  left:10%;
  right:50%;
  text-align: left;
  button {
    border-radius: 0px;
    padding: 10px;
    font-weight: bold;
  }
}

.colour-divider {
  display: flex;
  height: 18px;
  span {
    width: 100%;
  }
}

.area1{
  background-color: $red;
}
.area2 {
  background-color:$orange;
}
.area3{
  background-color: $yellow;
}
.area4{
  background-color: $green;
}
.area5{
  background-color: $blue;
}
.area6{
  background-color: $purple;
}

//MAIN FRAME CONTETN!!!

.content-wrapper{
  display:flex;
  justify-content: center;
}

.main-frame{
  width: 1300px;
}

.banner-content{
  display: flex;
  height: 70px;
  text-align: center;
}

//MIDLE CONTENT
.middle-content{
  display:flex;
  height: 386px;
  margin-bottom: 20px;
  margin-top: 20px;
  h3,p {
    color: white;
  }
}
.middle-content1 {
  display: flex;
}

.sugar-spice{
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: $red;
  padding: 15px;
  img {
    width: 100%;
  }
}

.get-support {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  // margin-right: 10px;
  // margin-left: 10px;
  padding: 15px;
  background-color: $orange;
  img {
    width: 100%;
  }
}

.visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $purple;
  width: 325px;
  padding: 15px;
  // margin-left: 10px;
  // padding: 15px;
  img {
    width: 100%;
   }
  }

//MIDDLE CONTENT 2

.middle-content2 {
  display:flex;
  margin-bottom:20px;
  height:298px;
 }
 .middle-tablet {
   display: flex;
   width: 650px;
 }

.card-sample {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 15px;
  width: 325px;
  img {
    width: 100%;
  }
  h3, p {
  color: white;
  }
}

.card1 {
  background-color: $blue-banner;
  // margin-right: 20px;

}
.card2 {
  background-color: $pink;
  // margin-right: 10px;
  // margin-left: 10px;

}
.card3 {
background-color: $green;
// margin-right: 10px;
// margin-left: 10px;

}
.card4 {
background-color: $yellow;
// margin-left: 10px;
}

.overview-posts {
  display: flex;
  flex-direction: row;
  height: 334px;
}
.post {
  height: 334px;
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: #35495e;
  }
}

.bottom-banner {
  @include center-content;
  flex-direction: column;
  height: 175px;
  background-color: #35495e;
  color: white;
  button {
    width: 50px;
  }
}

.footer {
  height: 349px;
  background-color: #d7dbdf;
}

//Desktop View
@media screen and (max-width:1300px){
  .main-frame  {
    width: 100vw;
  }
  .middle-content2 {
    width: 100vw;
  }
}

//Tablet View

@media screen and (max-width:1024px) {
  .sub-nav-content {
    height: 92px;
  }

  .middle-content {
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-bottom: 5vw;
  }
  .sugar-spice {
    width: 1024px;
    flex-direction: column;
    margin-bottom: 5vw;
    // margin-left: 5vw;

  }
  .middle-content1 {
    width: 100vw;
    height: auto;
    .get-support, .visit {
      width: 512px;
    }
  }
  .middle-content2 {
    flex-direction: column;
    height: auto;
   }

   .middle-tablet {
     width: 100vw;
     margin-bottom: 5vw;
     .card-sample {
       width: 512px;
     }
   }

}
@media screen and (max-width:800px) {
  .sub-nav-content a {
    display: none;
  }
  .search-bar{
    display: none;
  }
}
